<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Тестовая страница</title>

		<script src="{{ static_url('js/snetwork.js')}}"></script>
		<script src="{{ static_url('js/script.js')}}"></script>
	</head>

	<body>
		<h1>Тестовая страница</h1>
		<button onclick="register_client();">Register client</button>
		<button onclick="test_add_parameters();">Add parameters</button>
		<button onclick="test_remove_parameters();">Remove parameters</button>
		<button onclick="test_request_parameters();">Request parameters</button>
	</body>
</html>